<div class="jewel-item-buttons">
  <div class="left-column">
    <input type="checkbox"/>
  </div>
  <div class="right-column">
    <button>Review History</button>
    <button>Send to Production</button>
    <button>Create PO #</button>
  </div>
  <div class="clearfix"></div>
</div>